* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1167d1; 
  overflow-y: auto;        
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}
