@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&family=Poppins:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

h2, h3 {
  font-family: 'Baloo 2', cursive;
}

a {
    text-decoration: none;
    color: chocolate;
}

.container {
    max-width: 70vw;
    padding: 2rem 1rem;
    margin: 0 auto;
}

.hcon {
    margin-bottom: 2.8rem;

}

.hcon h1 {
    margin-bottom: 1rem;
    text-align: center;
    font-family: 'Baloo 2', cursive;
}

.hcon .hdesc {
    max-width: 768px;
    text-align: center;
    color: #494646;
    margin: 0 auto;
}

.mcon {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 650px) {
    .mcon {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 1080px) {
    .mcon {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1340px) {
    .mcon {
        grid-template-columns: repeat(3, 1fr);
    }
}


.card {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(227, 225, 225);
    border-radius: 5px;
    overflow: hidden;
    /* height: 550px;
    width: 350px; */
}


.card-image-container {
    position: relative;
    overflow: hidden;
    height: 11rem;
}

@media (min-width:768px) {
    .card-image-container {
        height: 16rem;
    }
}


.card-image {
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
}

.card-description {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.card:hover .card-image {
    transform: scale(1);
    transition-duration: 200ms;
}

.card-title {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    margin-bottom: 0.3rem;
    color: rgb(104, 103, 103);
}

.anchor:hover .card-title {
    color: rgb(45, 45, 241);
}


.card-title-description {
    color: #494646;
    font-size: 0.8rem;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: flex-end;

}

.author {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.avatar {
    height: 3rem;
    width: 3rem;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid rgb(122, 122, 122);
    background-color: rgb(255, 248, 248);
}

.info {
    display: flex;
    flex-direction: column;

}

.name {
    color: rgb(66, 66, 250);
    font-size: 0.8rem;

}

.date {
    color: grey;
    font-size: 0.8rem;
}

.tag {
    font-size: 0.8rem;
    border: 1px solid black;
    border-radius: 2px;
    line-height: 1.3rem;
    padding: 0.25rem 0.5rem;
    color: grey;
}