@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&family=Poppins:wght@400;500&display=swap');

:root {
    --primary-color: #6366F1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;

}

* {
    margin: 0;
    padding: 0;
    font-family: 'Baloo 2', cursive;
    text-decoration: none;
}

body {
    height: 100vh;
    text-align: center;
    background-color: var(--background-color);
    padding: 0.1rem;
}

.header-content {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

}

.logo {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-color);
    text-decoration: none;
    gap: 0.625rem;

}

.logo-icon {
    height: 55px;
    width: 65px;
}

.logo-text {
    font-size: 2.35rem;
}

.nav {
    display: none;
    gap: 1.5rem;

}

@media screen and (min-width:768px) {
    .nav{
        display: flex;
    }
}

.nav-link{
    color: #718096;
    font-size: 1.25rem;
    font-weight: 600;
    transform: color 0.1s;
}

.nav-link:hover {
    color: var(--link-color);
}

.contact-button {
    display: none;
    border: none;
    background-color: var(--primary-color);
    border-radius: 0.375rem;
    color: var(--background-color);
    transform: all 0.1s;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    
}

@media screen and (min-width:768px) {
    .contact-button {
        display: block;
    }
}

.contact-button:hover {
    background-color: #5254f8;
}

.menu-button {
    display: none;
    border: none;
    border-radius: 0.375rem;
    /* transform: all 0.1s; */
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 0.9rem;
    background-color: var(--background-color);
}

@media screen and (max-width:768px) {
    .menu-button {
        display: block;
    }
}
.menu-icon {
    height: 1.5rem;
    width: 1.5rem;
}

.main-section{
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0.6rem;
    align-items: center;
    margin: 0 auto;
}

.content-left{
    text-align: center;
    animation: slideFromLeft 1s ease forwards;
    opacity: 0;
}

@keyframes slideFromLeft {

    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
    
}

.section-label {
    font-size: 1.15rem;
    font-weight: 600;
    color: var(--primary-color);
}

.section-title{
    font-size: 2.3rem;
    padding: 1.1rem;
    color: var(--text-color);
}

.section-description{
    color: var(--gray);
    font-size: 1.13rem;
}


.button-group {
    display: flex;
    gap: 2rem;
    padding: 1rem;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
}

.break-button{
    border: none;
    border-radius: 0.375rem;
    color: var(--background-color);
    transform: all 0.1s;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.75rem 1.5rem;
    background-color: var(--primary-color);

}

.resume-button{
    border: none;
    border-radius: 0.375rem;
    color: var(--background-color);
    transform: all 0.1s;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.75rem 1.5rem;
    background-color: var(--dark-gray);

}

.break-button:hover {
    background-color: #5254f8;
}

.resume-button:hover {
    background-color: #5254f8;
}

.content-right {
    display: flex;
    align-items: center;
    justify-content: center;

}

.image-container {
    /* border-radius: 0.625; */
    overflow: hidden;
    height: 57vh;

}

.section-image{
    height: 100%;
    width: 100%;
}

@media screen and (min-width:768px) {
    .main-section{
        flex-direction: row;
        padding-left: 10rem;
    }

    .content-left{
        max-width: 50%;
        text-align: left;
    }

    .section-title{
        padding-left: 0;
        font-size: 2.25rem;
    }

    .button-group{
        justify-content: start;
        padding-left: 0;
    }

    .section-label{
        font-size: 1rem;
    }

    .image-container{
        height: 60vh;

    }

    .section-description{
        font-size: 1.1rem;
        color: var(--gray);
        width: 78%;
    }
    

}

.treasure-chest {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0.8rem;
    animation: slideFromLeft 1s ease forwards;
    
}

.chest-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 1rem 2rem;
    background-color: var(--background-color);
    border: 2px solid var(--dark-gray);
    border-radius: 0.625rem;
    
    margin-top: 1rem;
    margin-bottom: 3rem;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.chest-logo{
    font-size: 1rem;
    font-weight: 500;
    color: var(--gray);
    display: flex;
    gap: 0.5rem;
}

.Certified {
    height: 3rem;
}

.chest-logo-text{
    font-size: 1rem;
    margin-top: 0.6rem;
}

@media screen and (min-width:640px) {
    .chest-grid{
        grid-template-columns: repeat(4, 1fr);
    }

    .chest-title{
        font-size: 1.75rem;
        font-weight: bold;
    }
}

.project-container {
    background-color: var(--light-gray);
    padding: 1.3rem 2rem;
    
}

.project-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 2rem;

}

.main-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main-title{
    font-size: 2.2rem;
}

.main-description{
    color: var(--gray);
    font-size: 1rem;
}

.project-grid{
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    margin: 1.3rem 2rem;
    padding: 0 2rem;
   
}

.icon-container{
    background-color: var(--background-color);
    height: 6rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    transition: all 0.1s;
    
    
}

.icon-container:hover {
    height: 7rem;
    width: 7rem;
}



.project-image{
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block; /* removes inline image spacing */  
}

.project-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    /* border: 2px solid red; */
    border-radius: 0.625rem;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    padding: 2rem;
    gap: 0.8rem;

    /* wider than tall */
    width: 330px;
    height: 200px;    
}

.project-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.project-title{
    margin-top: 0.25rem;
    font-size: 1.3rem;
    color: bold;
}

.project-description{
    color: var(--gray);
    /* margin-bottom: 0.5rem; */
}

@media screen and (max-width:1280px) {
    .project-grid{
        grid-template-columns: repeat(3, 1fr);
        margin: 0 1rem;
        padding: 0 1rem;
    }

    .project-card {
        width: 330px;  /* keep same size */
        height: 200px; /* keep same size */
        margin: 0 auto; /* center in column */
    }

}

@media screen and (max-width:768px) {
    .project-grid{
        grid-template-columns: repeat(1, 1fr);
        margin: 0 1rem;
        padding: 0 1rem;
    }

    .project-card {
        width: 330px;  /* keep same size */
        height: 200px; /* keep same size */
        margin: 0 auto; /* center in column */
    }

}

.services-container{
    background-color: var(--background-color);
    padding: 2rem;
    margin: 0 auto;
    max-width: 1280px;
}

.services-content{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 2rem;
    
}

.services-title{
    font-size: 1.875rem;
    font-weight: bold;

}

.image-avatar{
    height: 7rem;
    width: 7rem;
}

.services-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 2rem;
}

.services-card{
    display: flex;
    flex-direction: column;
    /* border: 1px solid var(--dark-gray); */
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    gap: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* height: 270px;
    width: 270px; */
}

.services-card:hover {
    transform: scale(1.05);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* border: 1px solid red; */

}

.services-text{
    font-size: 0.875rem;
    color: #555;
}

.name{
    color: var(--primary-color);
}

.desc{
    font-size: 0.875rem;
}


.feedback-container{
    background-color: var(--background-color);  
    max-width: 1280px;
    height: 45vh;
    margin: 0 auto;

}

.feedback-content{
    display: flex;
    flex-direction: row;
    background-color: var(--background-color);
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
}

.left-part{
    height: 100%;
    width: 40%; 
    display: none;
    position: relative;   
}

@media screen and (min-width:802px) {
    .left-part{
        display: block;
        width: 40%;

    }

    .right-part{
        width: 60%;
      
    }

    .feedback-container{
        padding: 2rem;
    }
}

.right-part{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    /* padding-top: 1.5rem;
    padding-bottom: 0.5;
    padding-left: 0.5;
    padding-right: 0.5; */
    padding: 0.5rem;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 80%;
    background-color: var(--background-color);

}

.feedback-image{
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.feedback-info{
    padding: 0 3rem;
    text-align: left;
}

.feedback-title{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-color);
}

.feedback-description{
    text-align: left;
    color: #777;

}

.rum-form {
    padding: 0 3rem;  /* controls overall spacing */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;  /* space between form + image */
}

.rum-image{
    height: 6.85rem;
    width: 6.85rem;
    object-fit: contain;
    /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
}

.rum-image:hover{
            transform: translateX(2px);
}

.rum-left {
    flex: 1; /* ensures forms align to start and take full width */
}

.rum-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;   /* vertically center inside wrapper */
}


.message-form{
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* align-items: flex-start; */
    margin-bottom: 0.25rem;
    gap: 0.6rem;
}

.message-image{
    height: 5rem;
    width: 5rem;
}

.textarea {
    background-color: var(--background-color);
    width: 100%;
    color: #333;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem 0.75rem;
    resize: none;

}

.textarea:focus{
    border-color: #2563eb;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


.feedback-form{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    gap: 0.6rem;
}


.feedback-email{
    background-color: var(--background-color);
    /* width: 100%; */
    color: #333;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem 0.75rem;

}

.feedback-email:focus{
    border-color: #2563eb;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


@media  screen and (max-width:607px) {

    .feedback-email{
        width: 100%;
    }
    
}

.feedback-send-button{
    border: none;
    border-radius: 0.375rem;
    color: var(--background-color);
    transform: all 0.1s;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);

}

.feedback-send-button:hover {
    background-color: #5254f8;
}

.privacy{
    text-align: left;
    padding: 0 3rem;
    font-size: 1rem;
    color: var(--dark-gray);
}


@media screen and (min-width:640px) {
    .feedback-title{
        font-size: 2.5rem;
    }
}


.footer-container{
    background-color: var(--background-color);
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    max-width: 1280px;
}

.footer{
    max-width: 1280px;
    padding: 1rem 2.75rem;

    text-align: left;
    display: flex;
    justify-content: space-between;

}

.footer-top{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.jack-image{
    height: 20rem;
    width: 12rem;
}

.socials{
    padding-top: 2rem;
    display: flex;
    gap: 0.8rem;
}

.socials-icon {
    height: 1.5rem;
    width: 1.5rem;
}

.company-logo{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 1rem;
}


.filler-text{
    margin-top: -7rem;
    color: #777;
    font-size: 1rem;
    font-weight: 600;
}


.footer-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5rem;
    padding: 3.25rem 0.4rem;
    
}

.column-heading{
    font-size: 1.05rem;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 1.65rem;
}

ul{
    list-style-type: none;
}

.footer-link{
    color: #777;
    font-size: 0.9rem;
}

.footer-contact{
    color: var(--dark-gray);
    font-size: 0.9rem;

}

.footer-link-list{

    display: flex;
    flex-direction: column;
    gap: 1.2rem

}

.footer-copyright{
    color: var(--gray);
    font-size: 0.75rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
    padding-top: 1.15rem;
    border-top: 1px solid #E5E7EB;
}



/* .filler-quote{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;

} */

.filler-quote {
    position: relative; /* so we can shift child elements safely */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .hero{
    margin-top: 0;
    color: #777;
    font-size: 1rem;
    font-weight: 600;
     margin: 0;  

} */

.hero {
    margin: 0.5rem 0 0;  /* keeps author close to quote */
    color: #777;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
}


@media screen and (max-width:1070px) {
    .footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-grid{
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .footer-top{
        justify-content: center;
        width: 85%;
    }
}

@media screen and (max-width: 480px) {
    .footer-grid {
        grid-template-columns: repeat(2, 1fr);
        
    }

    .footer-top {
        width: 100%;
    }
}

.jack-image:hover{
            transform: scaleY(1.1);
            transform: translate(2px);
            
}

.feedback-image:hover{
    transform: scaleY(1.1);
    transform: translate(-2px);

}

