.username {
    background-color: white;
    padding: 10px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);

    height: 425px;
    width: 300px;
}

#title {
    font-family: cursive;
    font-size: 25px;
}

#user-desc {
    width: 60%;
    text-align: center;
    font-weight: 200;
    font-size: small;
    font-family: cursive;
}

#user-img {
  height: 270px;
  width: 250px;
  border-radius: 10px;
}

