*{
    margin:0 auto;
    padding: 0;
    box-sizing: border-box;

}




.navContainer {
    width: 100vw;
    background-color: rgb(127, 127, 215);

    /* background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0c7 100%); */
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

nav {
    width: 100%;
}

#navList {

    width: 100%;
    padding: 15px;

    /* margin-left: 15px;
    margin-right: 15px; */
    list-style: none;
    font-size: 1.5rem;
    font-family: cursive;
    display: flex;
    
    justify-content: space-around;
    align-items: center;

}

#navLogo {
    font-size: 2rem;
    font-family: cursive;
    color: whitesmoke;
}

a {
    text-decoration: none;
    color: aliceblue;
}

#items {
    display: flex;
    gap: 40px;
    /* margin-left: auto; */
}


.content {
    padding: 3rem;
    width: 90%;
    margin-top: 4rem;   /* space below navbar */
    margin-bottom: 4rem; /* space above footer */
    /* border: 1px solid black; */
    border-radius: 5px;
    background-color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    box-shadow: 3px 3px 30px black;

}



.foot {
    background-color: rgb(127, 127, 215);
    width: 100%;
    text-align: center;
    min-height: 40px;
}

.foot p {
     color: aliceblue;
     font-size: 1.5rem;
     font-family: cursive;

}

.recipe {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: cursive;
}

.left h2 {
    font-size: 2rem;
}


.right {
    width: 45%;
    transition: all 0.3s linear 0s;
    box-shadow: 1px 1px 10px gray;
    border-radius: 20px;
    overflow: hidden;

}

.right img{
    height: 300px;
    width: 400px;
    border-radius: 20px;
    transition: all 0.6s linear 0s;
}

.right:hover {
    transform: scale(1.3);
}


.ibox {
    font-size: 1rem;

}

.rbox {
    font-size: 1rem;
}


.right .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(36, 34,36, 0.713);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    opacity: 0;
    transition: all 0.3s linear 0s;
    
}

.right:hover .overlay {
    opacity: 1;
}

.right .overlay span {
    color: white;
    font-size: 1.2rem;
}